@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.accent {
  @apply text-orange-600 font-semibold;
}
